*, ::before, ::after, {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 30px;
    background: rgb(41, 211, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: fantasy;
}

.clock-body {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px rgb(50 149 105);
    background: #29ca8b;
}




/* Animation for clock */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hand { 
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 10px;
    margin-left: -5px;
    border-radius: 5px;
    transform-origin: bottom;
}

.second {
    height: 40%;
    background: rgb(205 31 31);
    animation: 60s spin infinite linear;
    z-index: 9;
    box-shadow: 0 0 0 1px #19704a;
}

.minuite {
    height: 35%;
    background: rgb(2 119 204);
    animation: 3600s spin infinite;
    z-index: 8;
    box-shadow: 0 0 0 1px #19704a;
}

.hour {
    height: 30%;
    background: rgb(46 46 46);
    animation: 43200s spin infinite;
    z-index: 7;
    box-shadow: 0 0 0 1px #19704a;
}

.hand.second:before {
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    background: #cd1f1f;
    border-radius: 50px;
    margin-left: -13px;
    left: 50%;
    bottom: -13px;
    z-index: 10;
}




.digit {
    --rotate: 0;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    text-align: center;
    transform: rotate(var(--rotate));
    left: 10px;
    top: 10px;
}

.digit1 {--rotate: 30deg}
.digit2 {--rotate: 60deg}
.digit3 {--rotate: 90deg}
.digit4 {--rotate: 120deg}
.digit5 {--rotate: 150deg}
.digit6 {--rotate: 180deg}
.digit7 {--rotate: 210deg}
.digit8 {--rotate: 240deg}
.digit9 {--rotate: 270deg}
.digit10 {--rotate: 300deg}
.digit11 {--rotate: 330deg}